body {
    background-color: rgba(234, 153, 203, 0.5);
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(234, 153, 203, 0.543), rgba(234, 153, 203, 0));
}

h1 {
    font-size: 50px;
    color: rgba(209, 85, 161, 0.5);
    font-family: "Leckerli One", sans-serif;
    letter-spacing: 3.5px;
}

.headerImg {
    width: 100px;
    padding-left: 20px;
}

nav {
    background-color: rgba(234, 153, 203, 0.331);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 20px 5px rgba(184, 56, 120, 0.229);
}

.navA {
    font-size: 28px;
    padding: 0 20px;
    text-decoration: none;
    margin: 3px 0;
    transition: ease .5s;
    color: rgba(169, 13, 112, 0.619);
}

.navA:hover {
    margin: 0 10px;
    background-color: rgba(234, 153, 203, 0.363);
    color: rgba(169, 13, 112, 0.333);
}

.sub1 {
    text-align: center;
    font-size: 28px;
    color: rgba(169, 13, 112, 0.753);
}

.mainP {
    text-align: center;
    color: rgb(55, 0, 35);
    font-weight: 500;
    font-size: 20px;
}

.divImgs {
    display: flex;
    justify-content: space-evenly;
    
}

.mainImg {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 3px solid rgba(169, 13, 112, 0.237);
}

.iframe {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 600px;
    height: 400px;
    margin-top: 20px;
    border: 3px solid rgba(169, 13, 112, 0.237);
}

#tabla {
    color: green;
    width: 500px;
    background-color: rgba(169, 13, 112, 0.373);
    border: 2px dashed rgba(169, 13, 112, 0.237);;
    text-align: center;
    margin: 10px auto;
}

.tablaTr {
    background-color: rgba(131, 15, 92, 0.316);
}

.tablaTh {
    color: rgb(79, 0, 51);
    background-color: rgba(230, 65, 158, 0.459);
}

.tablaTd {
    color: rgb(255, 211, 238);
}

footer {
    color: rgba(145, 46, 107, 0.711);
    margin-left: 10px;
}