body {
    background-color: rgba(234, 153, 203, 0.5);
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(234, 153, 203, 0.543), rgba(234, 153, 203, 0));
}

.headerA {
    text-decoration: none;
}


h1 {
    font-size: 50px;
    color: rgba(209, 85, 161, 0.5);
    font-family: "Leckerli One", sans-serif;
    letter-spacing: 3.5px;
}

.headerImg {
    width: 100px;
    padding-left: 20px;
}

nav {
    background-color: rgba(234, 153, 203, 0.331);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 20px 5px rgba(184, 56, 120, 0.229);
}

.navA {
    font-size: 28px;
    padding: 0 20px;
    text-decoration: none;
    margin: 3px 0;
    transition: ease .5s;
    color: rgba(169, 13, 112, 0.619);
}

.navA:hover {
    margin: 0 10px;
    background-color: rgba(234, 153, 203, 0.363);
    color: rgba(169, 13, 112, 0.333);
}

h2 {
    text-align: center;
    font-size: 28px;
    color: rgba(169, 13, 112, 0.753);
}

ul {
    margin-left: 13px;
    list-style-type: none;
}

li {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(90, 8, 60, 0.824);
    
}

li::before {
    content: "💖";
    padding-right: 10px;
}

footer {
    color: rgba(145, 46, 107, 0.711);
    margin-left: 10px;
}