body {
    background-color: rgba(234, 153, 203, 0.5);
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(234, 153, 203, 0.543), rgba(234, 153, 203, 0));
}

.headerA {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    color: rgba(209, 85, 161, 0.5);
    font-family: "Leckerli One", sans-serif;
    letter-spacing: 3.5px;
}

.headerImg {
    width: 100px;
    padding-left: 20px;
}

nav {
    background-color: rgba(234, 153, 203, 0.331);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 20px 5px rgba(184, 56, 120, 0.229);
}

.navA {
    font-size: 28px;
    padding: 0 20px;
    text-decoration: none;
    margin: 3px 0;
    transition: ease .5s;
    color: rgba(169, 13, 112, 0.619);
}

.navA:hover {
    margin: 0 10px;
    background-color: rgba(234, 153, 203, 0.363);
    color: rgba(169, 13, 112, 0.333);
}

h2 {
    text-align: center;
    font-size: 28px;
    color: rgba(169, 13, 112, 0.753);
}

.formP{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: rgba(97, 14, 65, 0.711);
    margin-bottom: -10px;
}

form {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input, textarea {
    display: block;
    width: 550px;
    height: 35px;
    margin: 20px 5px;
    background-color: rgba(220, 132, 186, 0.238);
    border: 2px solid rgba(132, 19, 87, 0.31);
    border-radius: 5px;
    color: rgba(69, 6, 45, 0.724);
    font-size: 17px;
    padding-left: 5px;
}

.input::placeholder, textarea::placeholder {
    color: rgba(93, 20, 65, 0.292);
}

.input:focus, textarea:focus {
    background-color: rgba(198, 77, 152, 0.252);
    outline: none;
}

textarea {
    height: 120px;
    resize: none;
}

.submitDiv {
    display: flex;
    justify-content: center;
}

.submit {
    width: 220px;
    height: 40px;
    background-color: rgba(164, 21, 109, 0.484);
    color: rgba(246, 210, 232, 0.814);
    font-size: 17px;
    font-weight: 700;
    border: 2px solid rgba(92, 15, 61, 0.331);
    border-radius: 5px;
}

.submit:hover {
    background-color: rgba(158, 25, 107, 0.613);
    color: rgba(237, 177, 214, 0.814);
    cursor: pointer;
}

footer {
    color: rgba(145, 46, 107, 0.711);
    margin-left: 10px;
}